@media only screen and (max-width: 1088px) {
    .link-wrapper, .desktop{
        display: none;
    }
    .header-holder{
        justify-content: space-around;
    }
    .hamburger{
        display: block;
    }
    .sidebar{
        display: block;
    }

    .mobile{
        border: 1px solid var(--light-grey-stroke, #EFEFEF);
        border-radius: 40px;
        padding: 5px;
    }
    .mobile_banner{
        display: block;
    }
    .banner_large_text{
        font-size: 28px;
    }
    .banner_small_text{
        font-size: 14px;
    }
    .image_holder{
        position: relative;
        margin-left: 50px;
    }
    .mobile_banner img{
        width: 375px;
    }
    .desktop_banner{
        display: none;
    }
    .banner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 10px 0px 14px;
    }

    .left_img{
        left: -30px;
        bottom: -30px;
    }
    .right_img{
        right: -30px;
        bottom: -30px;
    }
    .small-banner img{
        width: 150px;
    }
    .banner_info{
        margin: 40px 10px 50px 10px;
    }

    .discount_price{
        font-size: 32px;
        color: #E55C5C;
    }
    .actual_price{
        font-size: 22px;
    }
    .cards{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .cards::-webkit-scrollbar{
        display: none;
    }

    .blog_wrapper{
        width: 100%;
        flex-direction: column;
    }
    .blog_wrapper::-webkit-scrollbar{
        display: none;
    }
    .blog_card_3, .blog_card_1{
        padding-right: 100px;
        max-width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    .blog_card_3 .blog_card_side_img, .blog_card_1 .blog_card_side_img{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .blog_card_3 .blog_card_side_img img, .blog_card_1 .blog_card_side_img img{
        width: 150px;
    }    
    .left_blog_cards_wrapper{
        flex-direction: column;
    }
    .double_card_wrapper{
        flex-direction: column;        
    }

    .last_section{
        flex-direction: column;
    }
    .avatar_img img{
        width: 90%;
        height: auto;
    }
    .last_description{
        width: 100%;
    }
    .component{
        flex-direction: column;
    }
    .seperator{
        display: none;
    }
    .footer_logo_mobile{
        display: block;
        text-align: center;
    }
    .footer_logo_desktop{
        display: none;
    }
}
  