body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}
.hamburger{
    display: none;
    border: none;
    cursor: pointer;
}

.container{
    margin: auto;
    width: 90%;
}
header{
    box-shadow: 0px 4px 12px 0px rgba(207, 207, 207, 0.25);
}
.header-holder{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    cursor: pointer;
}
li{
    list-style: none;
}
.links{
    display: flex;
    gap: 16px;
}
.link a{
    text-decoration: none;
    color: #70737C;
    font-size: 14px;
    padding-bottom: 3px;
    position: relative;
    transition: 0.5s;
}
.link a::after{
    content: '';
    position: absolute;
    width: 0%;
    background: rgba(53, 151, 64, 1);
    height: 3px;
    bottom: 0;
    left: 0;
    transition: .5s;
}

.link a:hover{
    color: rgba(53, 151, 64, 1);
}
.link a:hover::after{
    width: 100%;
}


.socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 13px;
}

.input{
    position: relative;
}

.input img{
    position: absolute;
    top: 5px;
    left: 5px;
}

.input input{
    width: 80%;
    border: 1px solid var(--light-grey-stroke, #EFEFEF);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 40px;
}

.sidebar{
    padding: 15px;
    display: none;
    width: 50%;
    height: 100vh;
    position: absolute;
    background: white;
    box-shadow: 0px 0px 0px 4px rgba(207, 207, 207, 0.25);
    transition: .5s;
    right: -57%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.links_m a{
    text-decoration: none;  
    color: #70737C;
    font-size: 14px;  
}
.links_m{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.icons{
    display: flex;
    gap: 10px;
    justify-content: center;
}

